<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head_content %}{% endblock %}


    {% load static %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" crossorigin="anonymous" />
</head>
<body>

    <div class="container mt-5">
        <h1>Boxes</h1>
                <ul>
                    {% for boxes in box_inf %}
                    <li>Box Name:
                        <a href={{boxes.id}}>{{boxes.name}}</a>
                    </li>
                    <li>Box Slug:
                        <a href={{boxes.slug}}>{{boxes.slug}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

</body>
</html>